# ! NOTE: This file must be named: .env
CHANNEL_ID=<channel ID>
DEBUG=<true | false>
LOGO_PORT=<port to serve logo>
LOGO_SERVER=<true | false>
LOGO_URL=<logo url>
RATE=<ms per request>
TOKEN=<bot token>
WELCOME_IMAGE_URL=<image url>
